PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/ai-productivity-copilot
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
NOVA_MODEL_LITE=amazon.nova-lite-v1:0
FRONTEND_URL=http://localhost:5173
